[submodule "libraries/NopSCADlib"]
	path = libraries/NopSCADlib
	url = https://github.com/nophead/NopSCADlib.git
[submodule "BOSL"]
	path = BOSL
	url = https://github.com/revarbat/BOSL.git
[submodule "libraries/BOSL"]
	path = libraries/BOSL
	url = https://github.com/revarbat/BOSL.git
[submodule "libraries/MCAD"]
	path = libraries/MCAD
	url = https://github.com/openscad/MCAD.git
[submodule "libraries/BOSL2"]
	path = libraries/BOSL2
	url = https://github.com/BelfrySCAD/BOSL2.git
